In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [34]:
company = pd.read_csv('company.csv')
company

                                  name                            uri
0                                Apple                          apple
1                             Alphabet                       alphabet
2                            Microsoft                      microsoft
3                           Amazon.com                         amazon
4                             Facebook                       facebook
5                     Tencent Holdings               tencent-holdings
6                              Alibaba                        alibaba
7                     General Electric               general-electric
8                  Samsung Electronics            samsung-electronics
9                                 AT&T                            att
10                        China Mobile                   china-mobile
11              Verizon Communications         verizon-communications
12                              Oracle                         oracle
13                               Intel                          intel
14                       Cisco Systems                  cisco-systems
15                                 IBM                            ibm
16                Taiwan Semiconductor           taiwan-semiconductor
17                                 SAP                            sap
18                                  3M                             3m
19                             Siemens                        siemens
20             Honeywell International        honeywell-international
21              Nippon Telegraph & Tel                 nippon-tel-tel
22                            Broadcom                       broadcom
23                    Booking Holdings                        booking
24                            Qualcomm                       qualcomm
25                   Texas Instruments              texas-instruments
26                    Deutsche Telekom               deutsche-telekom
27                            Softbank                       softbank
28                           Accenture                      accenture
29           Tata Consultancy Services      tata-consultancy-services
..                                 ...                            ...
193                           Turkcell                       turkcell
194                     Legend Holding                 legend-holding
195                               VEON                           veon
196                  Tsinghua Tongfang              tsinghua-tongfang
197                           TCL Corp                       tcl-corp
198                  Arrow Electronics              arrow-electronics
199                                NEC                            nec
200                                G4S                            g4s
201                              Avnet                          avnet
202                           LG Uplus                       lg-uplus
203                              Rexel                          rexel
204                      Jabil Circuit                  jabil-circuit
205                       Yamada Denki                   yamada-denki
206          China Great Wall Computer      china-great-wall-computer
207      China Communications Services  china-communications-services
208                   Nanya Technology               nanya-technology
209  Konica Minolta Business Solutions                 konica-minolta
210                            Innolux                        innolux
211                             SYNNEX                         synnex
212                       AU Optronics                   au-optronics
213                            Sistema                        sistema
214                          Tech Data                      tech-data
215                 Compal Electronics             compal-electronics
216                           Inventec                       inventec
217            Frontier Communications        frontier-communications
218                            Wistron                        wistron
219                       WPG Holdings                   wpg-holdings
220             Synnex Technology Intl               synnex-tech-intl
221                                 Oi                             oi
222                           Intelsat                       intelsat

[223 rows x 2 columns]

In [35]:
company_name_list = company['name']

In [15]:
def get_html(company_name):
    url = 'https://www.google.com.tw/search'
    keyword = {'q': company_name + ' stock'}
    html = requests.get(url, params=keyword).text
    return html

In [ ]:
def get_market_cap(html):
    soup = BeautifulSoup(html, 'html.parser')
    market_cap = soup.findAll("td", {"align": "right"})[-1].text
    company_place = soup.findAll("h3", {"class": "r"})[0].find('span').text
    print(market_cap, company_place)
    return market_cap, company_place

In [37]:
company_market_cap_list = list()

In [ ]:
for i in company_name_list:
    try:
        html = get_html(i)
        market_cap, company_place = get_market_cap(html)
        company_market_cap_list.append(i, market_cap, company_place)
    except:
        pass
print(company_market_cap_list)

In [83]:
from forex_python.converter import CurrencyRates

In [84]:
c = CurrencyRates()

In [98]:
c.get_rate('HKD', 'USD')

0.1274