In [1]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
company = pd.read_csv('company.csv')
company

                                  name                            uri
0                                Apple                          apple
1                             Alphabet                       alphabet
2                            Microsoft                      microsoft
3                           Amazon.com                         amazon
4                             Facebook                       facebook
5                     Tencent Holdings               tencent-holdings
6                              Alibaba                        alibaba
7                     General Electric               general-electric
8                  Samsung Electronics            samsung-electronics
9                                 AT&T                            att
10                        China Mobile                   china-mobile
11              Verizon Communications         verizon-communications
12                              Oracle                         oracle
13                               Intel                          intel
14                       Cisco Systems                  cisco-systems
15                                 IBM                            ibm
16                Taiwan Semiconductor           taiwan-semiconductor
17                                 SAP                            sap
18                                  3M                             3m
19                             Siemens                        siemens
20             Honeywell International        honeywell-international
21              Nippon Telegraph & Tel                 nippon-tel-tel
22                            Broadcom                       broadcom
23                    Booking Holdings                        booking
24                            Qualcomm                       qualcomm
25                   Texas Instruments              texas-instruments
26                    Deutsche Telekom               deutsche-telekom
27                            Softbank                       softbank
28                           Accenture                      accenture
29           Tata Consultancy Services      tata-consultancy-services
..                                 ...                            ...
193                           Turkcell                       turkcell
194                     Legend Holding                 legend-holding
195                               VEON                           veon
196                  Tsinghua Tongfang              tsinghua-tongfang
197                           TCL Corp                       tcl-corp
198                  Arrow Electronics              arrow-electronics
199                                NEC                            nec
200                                G4S                            g4s
201                              Avnet                          avnet
202                           LG Uplus                       lg-uplus
203                              Rexel                          rexel
204                      Jabil Circuit                  jabil-circuit
205                       Yamada Denki                   yamada-denki
206          China Great Wall Computer      china-great-wall-computer
207      China Communications Services  china-communications-services
208                   Nanya Technology               nanya-technology
209  Konica Minolta Business Solutions                 konica-minolta
210                            Innolux                        innolux
211                             SYNNEX                         synnex
212                       AU Optronics                   au-optronics
213                            Sistema                        sistema
214                          Tech Data                      tech-data
215                 Compal Electronics             compal-electronics
216                           Inventec                       inventec
217            Frontier Communications        frontier-communications
218                            Wistron                        wistron
219                       WPG Holdings                   wpg-holdings
220             Synnex Technology Intl               synnex-tech-intl
221                                 Oi                             oi
222                           Intelsat                       intelsat

[223 rows x 2 columns]

In [3]:
company_name_list = company['name']

In [4]:
def get_html(company_name):
    url = 'https://www.google.com.tw/search'
    keyword = {'q': company_name + ' stock'}
    html = requests.get(url, params=keyword).text
    return html

In [5]:
def get_market_cap(html):
    soup = BeautifulSoup(html, 'html.parser')
    market_cap = soup.findAll("td", {"align": "right"})[-1].text
    place = soup.findAll("h3", {"class": "r"})[0].find('span').text
    return market_cap, place

In [6]:
company_market_cap_list = list()

In [7]:
for i in company_name_list:
    try:
        name = i
        html = get_html(name)
        market_cap, place = get_market_cap(html)
        company_market_cap_list.append([name, market_cap, place])
    except:
        company_market_cap_list.append([name, '', ''])

In [8]:
# for i in company_market_cap_list:
#     print(i)

In [9]:
currency = pd.read_csv('currency.csv')
currency

       name symbol
0    NASDAQ    USD
1       HKG    HKD
2      NYSE    USD
3       KRX    KRW
4       TPE    TWD
5       ETR    EUR
6       TYO    JPY
7       LON    GBP
8       AMS    EUR
9       BME    EUR
10      VTX    CHF
11      BMV    MXN
12      SGX    SGD
13      EPA    EUR
14      ASX    AUD
15      TSE    CAD
16      EPA    EUR
17  TADAWUL    SAR
18      NSE    INR
19      HEL    EUR
20      SHE    CNY
21      SWX    CHF
22      STO    SEK
23      BIT    EUR
24      CPH    DKK
25      JSE    ZAC
26      BKK    THB
27      EBR    EUR
28      IST    TRY
29      MCX    RUB

In [10]:
currency_name = currency['name']
currency_symbol = currency['symbol']

In [11]:
for i, j in enumerate(company_market_cap_list):
    company_market_cap_list[i].append('')
    for k, l in enumerate(currency_name):
        if l in j[-2]:
            company_market_cap_list[i][-1] = currency_symbol[k]
            break

In [12]:
# for i in company_market_cap_list:
#     print(i)

In [13]:
from forex_python.converter import CurrencyRates
def get_currency_rate(x, y):
    c = CurrencyRates()
    return c.get_rate(x, y)

In [14]:
for i, j in enumerate(company_market_cap_list):
    try:
        company_market_cap_list[i].append(get_currency_rate(j[-1], 'USD'))
    except:
        company_market_cap_list[i].append('')

In [15]:
# for i in company_market_cap_list:
#     print(i)

In [16]:
def market_cap_format(market_cap_str):
    market_cap_str = market_cap_str.replace('.', '')
    market_cap_str = market_cap_str.replace('億', '0'*8)
    market_cap_str = market_cap_str.replace('兆', '0'*12)
    market_cap_int = int(market_cap_str)
    return market_cap_int

In [17]:
for i, j in enumerate(company_market_cap_list):
    try:
        company_market_cap_list[i].append(market_cap_format(j[1]))
    except:
        company_market_cap_list[i].append('')

In [18]:
# for i in company_market_cap_list:
#     print(i)

In [19]:
for i, j in enumerate(company_market_cap_list):
    try:
        company_market_cap_list[i].append(int(j[-1] * j[-2]))
    except:
        company_market_cap_list[i].append('')

In [20]:
# for i in company_market_cap_list:
#     print(i)

In [69]:
df = pd.DataFrame(columns=['rank', 'lift', 'name', 'exchange', 'code', 'rate', 'market_cap'])
for i in company_market_cap_list:
    df = df.append({'name': i[0],
                    'exchange': i[2],
                    'code': i[3],
                    'rate': i[4],
                    'market_cap': i[6],
                   }, ignore_index=True)

In [70]:
df = df.replace('', np.nan, regex=True)
df = df.sort_values(by=['market_cap'], ascending=False)
df = df.reset_index(drop=True)
df['rank'] = df.index + 1
df['lift'] = 0
df = df.replace(np.nan, '')
# df

In [71]:
import os
path = 'datasets/'
last = max(os.listdir(path))
path = path + last
path

'datasets/20180604020410.csv'

In [65]:
df_last = pd.read_csv(path)
# df_last

In [72]:
df

,rank,lift,name,exchange,code,rate,market_cap
0,1,0,Apple,- Apple Inc. (NASDAQ),USD,1,9.35056e+13
1,2,0,Amazon.com,"- Amazon.com, Inc. (NASDAQ)",USD,1,7.96519e+13
2,3,0,Alphabet,- Alphabet Inc Class A (NASDAQ),USD,1,7.82908e+13
3,4,0,Microsoft,- Microsoft Corporation (NASDAQ),USD,1,7.7439e+13
4,5,0,Facebook,"- Facebook, Inc. Common Stock (NASDAQ)",USD,1,5.61529e+13
5,6,0,Alibaba,- Alibaba Group Holding Ltd (NYSE),USD,1,5.23346e+13
6,7,0,Tencent Holdings,- 騰訊 (HKG),HKD,0.1275,4.896e+13
7,8,0,Samsung Electronics,- Samsung Electronics Co Ltd (KRX),KRW,0.0009,3.26907e+13
8,9,0,Intel,- Intel Corporation (NASDAQ),USD,1,2.65993e+13
9,10,0,Cisco Systems,"- Cisco Systems, Inc. (NASDAQ)",USD,1,2.05328e+13
10,11,0,AT&T,- AT&T Inc. (NYSE),USD,1,1.99398e+13
11,12,0,Verizon Communications,- Verizon Communications Inc. (NYSE),USD,1,1.97546e+13
12,13,0,Oracle,- Oracle Corporation (NYSE),USD,1,1.93298e+13
13,14,0,China Mobile,- 中國移動 (HKG),HKD,0.1275,1.836e+13
14,15,0,Netflix,"- Netflix, Inc. (NASDAQ)",USD,1,1.56459e+13
15,16,0,NVIDIA,- NVIDIA Corporation (NASDAQ),USD,1,1.56385e+13
16,17,0,SAP,- SAP SE (ETR),EUR,1.1669,1.393e+13
17,18,0,IBM,- IBM Common Stock (NYSE),USD,1,1.30306e+13
18,19,0,Adobe Systems,- Adobe Systems Incorporated (NASDAQ),USD,1,1.23763e+13
19,20,0,General Electric,- General Electric Company (NYSE),USD,1,1.22463e+13
20,21,0,3M,- 3M Co (NYSE),USD,1,1.18495e+13
21,22,0,Siemens,- Siemens AG (ETR),EUR,1.1669,1.12557e+13
22,23,0,Texas Instruments,- Texas Instruments Incorporated (NASDAQ),USD,1,1.1238e+13
23,24,0,Honeywell International,- Honeywell International Inc. (NYSE),USD,1,1.12107e+13
24,25,0,Broadcom,- Broadcom Inc (NASDAQ),USD,1,1.03538e+13
25,26,0,Accenture,- Accenture Plc (NYSE),USD,1,1.0218e+13
26,27,0,Booking Holdings,- Booking Holdings Inc (NASDAQ),USD,1,1.00125e+13
27,28,0,Nippon Telegraph & Tel,- Nippon Telegraph And Telephone Corp (TYO),JPY,0.0091,9.9008e+12
28,29,0,Salesforce.com,"- salesforce.com, inc. (NYSE)",USD,1,9.572e+12
29,30,0,ASML Holding,- ASML Holding NV (AMS),EUR,1.1669,8.73308e+12
...,...,...,...,...,...,...,...
193,194,0,LARGAN Precision,- 大立光電 (TPE),TWD,,
194,195,0,Vestas Wind Systems,- VESTAS WIND Sys/ADR (OTCMKTS),,1.1669,
195,196,0,MTN Group,- MTN Group Limited (JSE),ZAC,,
196,197,0,CGI Group,- CGI Group Inc (TSE),CAD,0.7706,
197,198,0,Delta Electronics,- 台達電子 (TPE),TWD,,
198,199,0,STMicroelectronics,,,1.1669,
199,200,0,ATOS,- Atossa Genetics Inc (NASDAQ),USD,1,
200,201,0,Taiwan Mobile,,,1.1669,
201,202,0,Mediatek,- 聯發科技 (TPE),TWD,,
202,203,0,Maxis,,,1.1669,
203,204,0,Axiata Group,,,1.1669,
204,205,0,Advanced Semiconductor,,,1.1669,
205,206,0,ZTE,,,1.1669,
206,207,0,Ooredoo Telecom,,,1.1669,
207,208,0,Quanta Computer,- 廣達電腦 (TPE),TWD,,
208,209,0,Lenovo Group,,,1.1669,
209,210,0,Pegatron,- 和碩聯合科技 (TPE),TWD,,
210,211,0,Emirates Integrated Telecom,,,1.1669,
211,212,0,Asustek Computer,,,1.1669,
212,213,0,China Railway Signal & Communication,,,1.1669,
213,214,0,China Great Wall Computer,,,1.1669,
214,215,0,Nanya Technology,- 南亞科技 (TPE),TWD,,
215,216,0,Innolux,- 群創光電 (TPE),TWD,,
216,217,0,AU Optronics,- 友達光電 (TPE),TWD,,
217,218,0,Sistema,,,1.1669,
218,219,0,Compal Electronics,,,1.1669,
219,220,0,Inventec,- 英業達集團 (TPE),TWD,,
220,221,0,Wistron,- 緯創資通 (TPE),TWD,,
221,222,0,WPG Holdings,- 大聯大投資控股股份有限公司 (TPE),TWD,,
222,223,0,Synnex Technology Intl,,,1.1669,

In [73]:
df['lift']

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
193    0
194    0
195    0
196    0
197    0
198    0
199    0
200    0
201    0
202    0
203    0
204    0
205    0
206    0
207    0
208    0
209    0
210    0
211    0
212    0
213    0
214    0
215    0
216    0
217    0
218    0
219    0
220    0
221    0
222    0
Name: lift, Length: 223, dtype: int64

In [81]:
def lift(i):
    if i > 0:
        return '+' + str(i)
    elif i < 0:
        return '-' + str(i)
    else:
        return '+' + str(i)

In [82]:
lift_list = df['lift'].tolist()
lift_list

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [83]:
for i, j in enumerate(lift_list):
    lift_list[i] = lift(j)
lift_list

['+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0',
 '+0']